  <h2>Habits Dashboard</h2>
  
  <a href="/private/habit-add"><button>Add Habit</button></a>
  <br> 
  <br> 
  <div id="habit-list">
  {{#each habits}}
    <div class=habitSummary"></div>
        <a href="/private/habit-track/{{this._id}}"><button>Track</button></a>
        <br> 
        <div><h2>"Description: {{this.description}}"</h2></div> 
        <div><h4>"AP name: {{this.ap.name}}"</h4></div>
        <div><h4>"Cue Day: {{this.cueDay}}"</h4></div>  
        <div><h4>"Cue time: {{this.cueTime}}"</h4></div>  
        <div><h4><span>"Last punch:" {{#each this.punch}}{{#if @last}}{{this}}{{/if}}{{/each}}</span></h4></div> 
        <div><h4><span>"Number of punches:" {{this.punch.length}}</span></h4></div>
        <br>
      </div>
  {{/each}}
  </div>
