  <h2>Habits Track</h2>
  
  <div id="habit-list">
    <div class=habit-track"></div>
        <a href="/private/habit-dashboard"><button>Dashboard</button></a>
        <br> 
        <div><h2>{{description}}</h2></div> 
        <div><h4>Sponsor: {{ap.name}}</h4></div>
        {{!-- <div><h4>"Cue DayTime: Mon:{{this.cueDayTime.Mon}} 
                            Tue:{{this.cueDayTime.Tue}} 
                            Wed:{{this.cueDayTime.Wed}} 
                            Thu:{{this.cueDayTime.Thu}} 
                            Fri:{{this.cueDayTime.Fri}} 
                            Sat:{{this.cueDayTime.Sat}} 
                            Sun:{{this.cueDayTime.Sun}} "</h4></div>  --}}
        <div><h4><span>Punches: {{punch.length}}</span></h4></div>
      
        {{!-- {{#each this.punch}}
            <div><h2>"--- >> {{this}}"</h2></div>
        {{/each}} --}}
        {{!-- {{_id}} --}}

      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container" id="calendar">
	<div class="row">
        <div class="span12">
    		<table class="table-condensed table-bordered table-striped">
                <thead>
                    <tr>
                      <th colspan="7">
                        <span class="btn-group">
                            <a class="btn"><i class="icon-chevron-left"></i></a>
                        	<a class="btn active">February 2021</a>
                        	<a class="btn"><i class="icon-chevron-right"></i></a>
                        </span>
                      </th>
                    </tr>
                    <tr>
                        <th>Mo</th>
                        <th>Tu</th>
                        <th>We</th>
                        <th>Th</th>
                        <th>Fr</th>
                        <th>Sa</th>
                        <th>Su</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>01</td>
                        <td>02</td>
                        <td>03</td>
                        <td>04</td>
                        <td>05</td>
                        <td>06</td>
                        <td>07</td>
                    </tr>
                    <tr>
                        <td>08</td>
                        <td>09</td>
                        <td>10</td>
                        <td>11</td>
                        <td class='punched'>12</td>
                        <td class='punched'>13</td>
                        <td class='punched'>14</td>
                    </tr>
                    <tr>
                        <td class='missed'>15</td>
                        <td class='punched'>16</td>
                        <td class='punched'>17</td>
                        <td class='punched'>18</td>
                        <td class='punched'>19</td>
                        <td>20</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>22</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>29</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
	</div>
</div>

<br><br>
        <a class="cal-el" href="/private/habit-punch/{{_id}}"><img src="/images/solar-punch.png" width="100px"/></a>
<br><br>
        <a class="cal-el" href="/private/habit-update/{{_id}}"><button>Update</button></a>
      </div>
  </div>


{{!-- [Object: null prototype] {
  description: 'floss sometimes',
  Mon: 'Mon',
  MonTime: '07:30',
  TueTime: '',
  Wed: 'Wed',
  WedTime: '07:30',
  Thu: 'Thu',
  ThuTime: '07:30',
  FriTime: '',
  Sat: 'Sat',
  SatTime: '09:00',
  Sun: 'Sun',
  SunTime: '09:00',
  ApName: 'Jenny Red',
  ApEmail: 'jennyred@xkae.com'
}
------habit from mongo:

{
  cueMedium: 'email',
  push: [
    2021-01-29T07:30:00.000Z,
    2021-01-30T07:30:00.000Z,
    2021-01-31T07:30:00.000Z,
    2021-01-01T07:30:00.000Z,
    2021-01-02T07:30:00.000Z,
    2021-01-03T07:30:00.000Z,
    2021-01-04T07:30:00.000Z,
    2021-01-05T07:30:00.000Z,
    2021-01-06T07:30:00.000Z,
    2021-01-07T07:30:00.000Z,
    2021-01-08T07:30:00.000Z,
    2021-01-09T07:30:00.000Z
  ],
  punch: [
    2021-01-29T08:45:00.000Z,
    2021-01-30T08:45:00.000Z,
    2021-01-31T08:45:00.000Z,
    2021-01-01T08:45:00.000Z,
    2021-01-02T08:45:00.000Z,
    2021-01-04T08:45:00.000Z,
    2021-01-05T08:45:00.000Z,
    2021-01-07T08:45:00.000Z,
    2021-01-08T08:45:00.000Z,
    2021-01-09T08:45:00.000Z
  ],
  _id: 602eab33de690edc61146772,
  user: 602eab32de690edc6114676a,
  description: 'floss',
  cueDayTime: {
    Mon: '07:30',
    Tue: '07:30',
    Wed: '07:30',
    Thu: '07:30',
    Fri: '07:30',
    Sat: '09:00',
    Sun: '09:00'
  },
  ap: {
    verified: true,
    _id: 602eab33de690edc6114676c,
    email: 'jennyred@xkae.com',
    name: 'Jenny Red',
    dateTimePush: 2021-02-18T18:00:19.016Z,
    dateTimeVerified: 2021-02-18T18:00:19.016Z,
    __v: 0
  },
  dateTimeRegistered: 2021-02-18T18:00:19.413Z,
  __v: 0
}
POST /private/habit-update/602eab33de690edc61146772 302 9.677 ms - 92
in private dashboard
GET /private/habit-dashboard 304 14.819 ms - -
GET /images/logo.png 304 6.059 ms - - --}}