  <h2>Habits Track</h2>
  
  <div id="habit-list">
    <div class=habit-track"></div>
        <a href="/private/habit-dashboard"><button>Dashboard</button></a>
        <div><h2>{{data.description}}</h2></div> 
        <div><h4>Sponsor: {{data.ap.name}}</h4></div>
        <div><h4><span>Punches: {{data.punch.length}}</span></h4></div>
        {{{calendar}}}
        <div>
        <br><br>
          <a class="cal-el" href="/private/habit-punch/{{data._id}}"><img src="/images/solar-punch.png" width="100px"/></a>
          <br><br>
          <a class="cal-el" href="/private/habit-update/{{data._id}}"><button>Update</button></a>
        </div>


